.app-chip .chip{
	display: inline-block;
	height: 32px;
	font-size: 13px;
	font-weight: 500;
	color: rgba(0,0,0,.6);
	line-height: 32px;
	padding: 0 12px;
	-webkit-border-radius: 16px;
	border-radius: 16px;
	background-color: #e4e4e4;
	margin-bottom: 5px;
	margin-right: 5px;
}
.app-chip.small-chip .chip{
	height: 24px;
	line-height: 24px;
	padding: 0 6px;
}

.app-chip .chip .chip-right-action{
	float: right;
	padding: 0;
}